body {
  background-color: black;
}

.wrapper {
  margin: 3px auto;
  border: 7px solid teal;

}

.store1 {
  margin: 10px 10px;
  border: 7px solid teal;
  padding: 15px;
  /*height: 85px;
  width: 65px;*/
  height:40px;
  width: 20px;
  background-color: teal;
  color: black;
  font-weight: bold;
  font-size: 20px;
  background-clip: content-box;
  float: right;
}

.store2 {
   margin: 10px 10px;
  border: 7px solid teal;
  padding: 15px;
  /*height: 85px;
  width: 65px;*/
  height:40px;
  width: 20px;
  background-color: teal;
  color: black;
  font-weight: bold;
  font-size: 20px;
  background-clip: content-box;
  float: left;
}

.cell {
  margin: 10px 10px;
  border: 7px solid teal;
  padding: 15px;
 /* height: 85px;
  width: 65px;*/
  height:40px;
  width: 20px;
  background-color: teal;
  color: black;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  background-clip: content-box;
}

.cell:hover {
  background-color: yellow;
  border-color: yellow ;
  box-shadow: 0px 0px 100px #fff;
}

span {
  color: teal;
  font-size: 60px;
  text-align: center;
  font-family: 'Bangers', cursive;

}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 80px;
  margin: 0px auto;
  color: teal;
  font-style: italic;
}

.row1, .row2, .row3 {
  text-align: center;
}
