body {
  background-image: url(../images/7.jpg);
  background-repeat: repeat-x;
  background-repeat: repeat-y;
}

.main {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: center;
  padding-top: 55px;
  position: relative;
}

.wrapper {
/*  margin-left: 165px;*/
  border: 7px solid teal;
  width: 775px;
  display: flex;
  flex-wrap: wrap;
}

.row1, .row2, .row3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.row2 {
  position: relative;
}

.cell1, .cell2 {
  margin: 10px 10px;
  border: 7px solid teal;
  padding: 15px;
  height: 85px;
  max-width: 65px;
  width: 16.66%;
  background-color: teal;
  color: black;
  display: inline-block;
  font-weight: bold;
  font-size: 60px;
  background-clip: content-box;
  text-align: center;
  font-family:'Righteous', cursive;
}

.points2 {
  color: red;
  font-size: 200px;
  width: 150px;
  font-family:'Righteous', cursive;
  text-align: center;
  position: absolute;
  left: 70px;
}

.points1 {
  color: yellow;
  font-size: 200px;
  width: 150px;
  font-family:'Righteous', cursive;
  position: absolute;
  right: 70px;
}

.points1, .points2 {
  padding-top: 120px;
}

.row2 {
  height: 194px;
}

.store1 {
  margin: 10px 10px;
  border: 7px solid yellow;
  padding: 15px;
  height: 85px;
  width: 65px;
  background-color: yellow;
  color: black;
  font-weight: bold;
  font-size: 60px;
  background-clip: content-box;
  text-align: center;
  font-family:'Righteous', cursive;
  display: inline-block;
}

.store2 {
  margin: 10px 10px;
  border: 7px solid red;
  padding: 15px;
  height: 85px;
  width: 65px;
  background-color: red;
  color: black;
  font-weight: bold;
  font-size: 60px;
  background-clip: content-box;
  text-align: center;
  font-family:'Righteous', cursive;
  float: left;
}

.text {
  padding-left: 23px;
  padding-right: 8px;
}

span {
  color: teal;
  font-size: 60px;
  text-align: center;
  font-family: 'Bangers', cursive;
  border: 7px solid teal;
  padding: 0px 53px;
  margin-left: 46px;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 80px;
  margin: 0px auto;
  color: teal;
  font-style: italic;
}

h1:hover {
  color: yellow
}

.newGameClass {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-top: 50px;
}

#newGameId {
  margin-left: 0;
}

#newGameId:hover {
  background-color: yellow;
  border-color: yellow ;
  box-shadow: 0px 0px 100px #fff;
}

#pauseMusic:hover{
  background-color: yellow;
  border-color: yellow ;
  box-shadow: 0px 0px 100px #fff;
}

@media only screen and (max-width: 870px) {
  .cell1, .cell2 {
    margin: 5px;
    border: 5px solid teal;
    padding: 10px;
    height: 60px;
    max-width: 40px;
    width: 16.66%;
    font-size: 45px;
  }

  .wrapper {
    border: 5px solid teal;
    width: 480px;
  }

  .store1 {
    margin: 5px;
    border: 5px solid yellow;
    padding: 10px;
    height: 60px;
    width: 40px;
    font-size: 45px;
  }

  .store2 {
    margin: 5px;
    border: 5px solid red;
    padding: 10px;
    height: 60px;
    width: 40px;
    font-size: 45px;
  }

  .text {
    padding-left: 14px;
    padding-right: 14px;
  }

  span {
    font-size: 40px;
    border: 5px solid teal;
    padding: 0px 25px;
    margin-left: 15px;
  }

  h1 {
    font-size: 48px;
  }

  .row2 {
    height: 125px;
  }

}


@media only screen and (max-width: 550px) {
  .cell1, .cell2 {
    margin: 3px;
    border: 3px solid teal;
    padding: 5px;
    height: 40px;
    max-width: 25px;
    width: 16.66%;
    font-size: 30px;
  }

  .wrapper {
    border: 3px solid teal;
    width: 282px;
  }

  .store1 {
    margin: 3px;
    border: 3px solid yellow;
    padding: 5px;
    height: 40px;
    width: 25px;
    font-size: 30px;
  }

  .store2 {
    margin: 3px;
    border: 3px solid red;
    padding: 5px;
    height: 40px;
    width: 25px;
    font-size: 30px;
  }

  .text {
    padding-left: 9px;
    padding-right: 9px;
  }

  span {
    font-size: 20px;
    border: 3px solid teal;
    padding: 0px 25px;
    margin-left: 8px;
  }

  h1 {
    font-size: 28px;
  }

  .row2 {
    height: 70px;
  }

}
