/*@media only screen and (min-width: 768px) {

}
*/
body {
/*  background-color: black;*/
background-image: url(../images/7.jpg);
background-repeat: repeat-x;
background-repeat: repeat-y;
}

.store1 {
  margin: 10px 10px;
  border: 7px solid yellow;
  padding: 15px;
  height: 85px;
  width: 65px;
  background-color: yellow;
  color: black;
  font-weight: bold;
  font-size: 60px;
  background-clip: content-box;
  text-align: center;
  font-family:'Righteous', cursive;
  display: inline-block;
  position: relative;
  left: 665px;
  bottom: 144px;
}

.store2 {
  margin: 10px 10px;
  border: 7px solid red;
  padding: 15px;
  height: 85px;
  width: 65px;
  background-color: red;
  color: black;
  font-weight: bold;
  font-size: 60px;
  background-clip: content-box;
  float: left;
  text-align: center;
  font-family:'Righteous', cursive;
}

.cell1, .cell2 {
  margin: 10px 10px;
  border: 7px solid teal;
  padding: 15px;
  height: 85px;
  width: 65px;
  background-color: teal;
  color: black;
  display: inline-block;
  font-weight: bold;
  font-size: 60px;
  background-clip: content-box;
  text-align: center;
  font-family:'Righteous', cursive;
}

.row2 {
  height: 194px;
}

.text {
  position: relative;
  left: 23px;
}

span {
  color: teal;
  font-size: 60px;
  text-align: center;
  font-family: 'Bangers', cursive;
  border: 7px solid teal;
  padding: 0px 53px;
  margin-left: 46px;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 80px;
  margin: 0px auto;
  color: teal;
  font-style: italic;
}

h1:hover {
  color: yellow
}

.newGameClass {
  text-align: center;
  clear: both;
  padding-top:50px;
}

#newGameId {
  margin: 3px auto;
  margin-right: 50px;
  margin-left:-52px;
}

#newGameId:hover {
  background-color: yellow;
  border-color: yellow ;
  box-shadow: 0px 0px 100px #fff;
}

#pauseMusic {
  margin: 3px auto;
/*  position: relative;
  left: 23px;*/

}

#pauseMusic:hover{
  background-color: yellow;
  border-color: yellow ;
  box-shadow: 0px 0px 100px #fff;
}

.points2 {
  color: red;
  font-size: 200px;
/*  background-color: yellow;*/
  width:150px;
  font-family:'Righteous', cursive;
  text-align:center;
  position:absolute;
}

.points1 {
  color: yellow;
  font-size: 200px;
/*  background-color: yellow;*/
  width:150px;
  font-family:'Righteous', cursive;
  float: left;
}

.wrapper {
  margin-left: 165px;
  border: 7px solid teal;
  width: 794px;
  float: left;
}

.main {
  margin: 55px auto;
  width: 1179px;
  height:450px;
}

.points1, .points2 {
  padding-top: 120px;
}

